body {
    font-size: 15px;
    font-weight: 800;
    padding: 15px;
}
h1 {
    font-size: 2.5em;
    color: rgb(142,40,0);
    bottom : rgb(255,176,59);
     
}
h2 {
    font-size: 1.9em;
    color: rgb(182,73,38);
}
h3 {
    font-size: 1.6em;
    color: rgb(70,137,102);
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255,240,165);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:rgb(70,137,102);
}

nav ul li a:hover {
    background-color: rgb(255,240,165);
    color: rgb(70,137,102) ;
}

footer {
    text-align: center;
}