body {
     
    padding: 15px;
}
nav ul {
    list-style-type:none;
    padding:0;
    overflow: hidden;
    background-color: rgb(117, 8, 50);
    
}

nav ul li {
    float: left;
}

nav ul li a {
    display :block;
    color: rgb(93, 238, 149);
    text-align:left ;
    padding: 14px 16px;
    text-decoration:none;
}

nav ul li a:hover {
    background-color: rgb(221, 20, 20);
}

footer {
    text-align: center;
}